<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="profile">
      <h2 data-cy="profileDetailsHeading"><span>Profile</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ profile.id }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ profile.username }}</span>
        </dd>
        <dt><span>Spotify URI</span></dt>
        <dd>
          <span>{{ profile.spotifyURI }}</span>
        </dd>
        <dt><span>Profile Photo</span></dt>
        <dd>
          <div *ngIf="profile.profilePhoto">
            <a (click)="openFile(profile.profilePhoto, profile.profilePhotoContentType)">
              <img
                [src]="'data:' + profile.profilePhotoContentType + ';base64,' + profile.profilePhoto"
                style="max-width: 100%"
                alt="profile image"
              />
            </a>
            {{ profile.profilePhotoContentType }}, {{ byteSize(profile.profilePhoto) }}
          </div>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ profile.user?.id }}</span>
        </dd>
        <dt><span>Spotify Connection</span></dt>
        <dd>
          <div *ngIf="profile.spotifyConnection">
            <a [routerLink]="['/spotify-connection', profile.spotifyConnection.spotifyURI, 'view']">{{
              profile.spotifyConnection.spotifyURI
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/profile', profile.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
