<div class="container align-items-start align-content-center align-self-center">
  <div class="row align-self-center">
    <h2 class="col-auto align-self-center">Want-To-Listen List</h2>
    <button class="col-auto btn" style="padding-top: 2px; padding-bottom: 2px; border: 0; background-color: rgba(0, 0, 0, 0)">
      <fa-icon [icon]="faPlayCircle" (click)="goPlaylist()" style="font-size: 3.5em; margin: 0; padding: 0; color: #447848"></fa-icon>
    </button>
  </div>
  <jhi-list-view> </jhi-list-view>
</div>
