<div class="container align-items-start align-content-center align-self-center">
  <div class="row align-self-center">
    <h2 class="col-lg-4">Want-To-Listen List</h2>
    <button class="col-auto btn" style="padding-top: 2px; padding-bottom: 2px; border: 0; background-color: white">
      <fa-icon [icon]="faPlayCircle" (click)="goPlaylist()" style="font-size: 2.5em; margin: 0; padding: 0; color: #447848"></fa-icon>
    </button>
  </div>

  <!--  Table head define-->
  <table class="table" style="margin-bottom: 0">
    <thead style="color: #447848">
      <tr>
        <td class="col-2">#</td>
        <td class="col-4">Title</td>
        <td class="col-2">Artist</td>
        <td class="col-2">Rating</td>
        <td class="col-2">Reviews</td>
        <td class="col-1"></td>
      </tr>
    </thead>
  </table>
  <!--  Table contain define, using list group from bootstrap-->
  <jhi-list-view> </jhi-list-view>
</div>
