<div class="container align-items-start align-content-center align-self-center">
  <div class="row align-self-center">
    <h2 class="col-auto align-self-center">Want-To-Listen List</h2>
    <button class="col-auto btn" style="padding-top: 2px; padding-bottom: 2px; border: 0; background-color: white">
      <fa-icon [icon]="faPlayCircle" (click)="goPlaylist()" style="font-size: 3.5em; margin: 0; padding: 0; color: #447848"></fa-icon>
    </button>
  </div>

  <!--  Table head define-->
  <!--  <table class="table" style="margin-bottom: 0; border: 0">-->
  <!--    <thead style="color: #447848">-->
  <!--      <tr>-->
  <!--        <td class="col-1 text-center" style="border: 0">#</td>-->
  <!--        <td class="col-1"></td>-->
  <!--        <td class="col-4 text-center" style="border: 0">Title</td>-->
  <!--        <td class="col-3 text-center" style="border: 0">Album</td>-->
  <!--        <td class="col-1 text-center" style="border: 0">Rating</td>-->
  <!--        <td class="col-1 text-center" style="border: 0">Reviews</td>-->
  <!--        <td class="col-1 text-center" style="border: 0"></td>-->
  <!--      </tr>-->
  <!--    </thead>-->
  <!--  </table>-->
  <!--  Table contain define, using list group from bootstrap-->
  <jhi-list-view> </jhi-list-view>
</div>
