<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="track">
      <h2 data-cy="trackDetailsHeading"><span>Track</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ track.id }}</span>
        </dd>
        <dt><span>Spotify URI</span></dt>
        <dd>
          <span>{{ track.spotifyURI }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ track.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ track.description }}</span>
        </dd>
        <dt><span>Release Date</span></dt>
        <dd>
          <span>{{ track.releaseDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
          <span>{{ track.rating }}</span>
        </dd>
        <dt><span>Artist</span></dt>
        <dd>
          <span *ngFor="let artist of track.artists; let last = last">
            <a [routerLink]="['/artist', artist.id, 'view']">{{ artist.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Album</span></dt>
        <dd>
          <div *ngIf="track.album">
            <a [routerLink]="['/album', track.album.id, 'view']">{{ track.album.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/track', track.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
