<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-follow-heading" data-cy="FollowCreateUpdateHeading">Create or edit a Follow</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sourceUserID">Source User ID</label>
          <input
            type="text"
            class="form-control"
            name="sourceUserID"
            id="field_sourceUserID"
            data-cy="sourceUserID"
            formControlName="sourceUserID"
          />
          <div
            *ngIf="editForm.get('sourceUserID')!.invalid && (editForm.get('sourceUserID')!.dirty || editForm.get('sourceUserID')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('sourceUserID')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_targetUserID">Target User ID</label>
          <input
            type="text"
            class="form-control"
            name="targetUserID"
            id="field_targetUserID"
            data-cy="targetUserID"
            formControlName="targetUserID"
          />
          <div
            *ngIf="editForm.get('targetUserID')!.invalid && (editForm.get('targetUserID')!.dirty || editForm.get('targetUserID')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('targetUserID')?.errors?.required"> This field is required. </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
