<div class="container">
  <h2>RECENTLY REVIEWED</h2>

  <div class="albums-tracks">
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Track</h3></div>
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Track</h3></div>
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Track</h3></div>
    <div class="card"><h3>Track</h3></div>
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Track</h3></div>
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Album</h3></div>
    <div class="card"><h3>Album</h3></div>
  </div>

  <h2>Explore Folders</h2>
</div>
