<!DOCTYPE html>
<body lang="eng">
  <div class="sidebar">
    <h2>Recently Listened</h2>
    <div class="tracks">
      <div class="image1">
        <a routerLink="/rating/spotify:track:7gaA3wERFkFkgivjwbSvkG">
          <img
            src="https://i.scdn.co/image/ab67616d0000b2736b0b6e20fdb1ee07de7e92d6"
            alt="Cover art for the track 'Yes, And?' by Ariana Grande"
            width="100"
            height="100"
          />
        </a>
      </div>
      <div class="description1">
        <p>
          Yes, And?<br />
          Ariana Grande<br />
          <fa-icon [icon]="['fas', 'star']" style="font-size: 1.5em"></fa-icon>
          <fa-icon [icon]="['fas', 'star']" style="font-size: 1.5em"></fa-icon>
          <fa-icon [icon]="['fas', 'star']" style="font-size: 1.5em"></fa-icon>
          <fa-icon [icon]="['fas', 'star']" style="font-size: 1.5em"></fa-icon>
          <fa-icon [icon]="['fas', 'star']" style="font-size: 1.5em"></fa-icon>
        </p>
      </div>
      <div class="image2">
        <a routerLink="/rating/spotify:track:1BxfuPKGuaTgP7aM0Bbdwr">
          <img
            src="https://i.scdn.co/image/ab67616d0000b273e787cffec20aa2a396a61647"
            alt="Cover art for the album Lover by Taylor Swift"
            width="100"
            height="100"
          />
        </a>
      </div>
      <div class="decription2">
        <p>
          Cruel Summer<br />
          Taylor Swift<br />
          Leave a Review...
        </p>
      </div>
      <div class="image3">
        <a routerLink="/rating/spotify:track:5wjmqUGN7vrAqFqDWrywlZ">
          <img
            src="https://i.scdn.co/image/ab67616d000048512f76b797c382bedcafdf45e1"
            alt="Cover art for the album Midgnight Memories by One Direction"
            width="100"
            height="100"
          />
        </a>
      </div>
      <div class="description3">
        <p>
          Midnight Memories<br />
          One Direction<br />
          Leave a Review...
        </p>
      </div>
      <div class="image4">
        <a routerLink="/rating/spotify:track:11dFghVXANMlKmJXsNCbNl	">
          <img
            src="https://i.scdn.co/image/ab67616d0000b273ef531a2218e0274cb4f67896"
            alt="Cover art for the album Cut to the Feeling by Carly Rae Jepson"
            width="100"
            height="100"
          />
        </a>
      </div>
      <div class="decription4">
        <p>
          Cut to the Feeling<br />
          Carly Rae Jepson<br />
          <fa-icon [icon]="['fas', 'star']" style="font-size: 1.5em"></fa-icon>
          <fa-icon [icon]="['fas', 'star']" style="font-size: 1.5em"></fa-icon>
          <fa-icon [icon]="['fas', 'star']" style="font-size: 1.5em"></fa-icon>
          <fa-icon [icon]="['fas', 'star']" style="font-size: 1.5em"></fa-icon>
          <fa-icon [icon]="['fas', 'star']" style="font-size: 1.5em"></fa-icon>
        </p>
      </div>
    </div>
  </div>
</body>
