.sidebar {
  float: right;
  width: 25%;
  height: 0;
  padding-bottom: 40%;
  margin: 0%;
  padding-top: 1%;
  border: 3px solid black;
  background-color: rgb(73, 120, 80);
  //box-sizing: border-box;
  text-align: center;
}

h2 {
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}

.albums-tracks {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;

  .record-card {
    flex: 0 0 auto;
    margin-right: 5px;
  }
}

.record-card {
  display: grid;
  text-align: left;
  //width: 400px;
  //height: 300px;
  padding: 10px;
  font-size: 20px;
}

.image {
  grid-column: 1 / span 3;
  grid-row: 1 / span 4;
}

.rating {
  grid-column: 4 / span 2;
  grid-row: 1;
}

.artist {
  grid-column: 4 / span 2;
  grid-row: 2;
}

.recordName {
  grid-column: 4 / span 2;
  grid-row: 3 / span 2;
}

.albums-tracks {
  height: 330px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
