<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="setting">
      <h2 data-cy="settingDetailsHeading"><span>Setting</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ setting.id }}</span>
        </dd>
        <dt><span>User ID</span></dt>
        <dd>
          <span>{{ setting.userID }}</span>
        </dd>
        <dt><span>Key</span></dt>
        <dd>
          <span>{{ setting.key }}</span>
        </dd>
        <dt><span>Value</span></dt>
        <dd>
          <span>{{ setting.value }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/setting', setting.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
