<table class="table table-striped">
  <thead>
    <tr>
      <td class="col-1 text-center" style="border: 0">#</td>
      <td class="col-4 text-center" style="border: 0">Title</td>
      <td class="col-3 text-center" style="border: 0">Album</td>
      <td class="col-1 text-center" style="border: 0">Rating</td>
      <td class="col-1 text-center" style="border: 0">Reviews</td>
      <td class="col-1 text-center" style="border: 0"></td>
    </tr>
  </thead>
  <tbody>
    <tr
      class=""
      [attr.data-id]="item.id"
      (click)="expand()"
      (mouseover)="item.isFocus = setFocusOn()"
      (mouseleave)="item.isFocus = setFocusOff()"
      *ngFor="let item of testList"
    >
      <td class="col-1 text-center">
        <h4>{{ item.id }}</h4>
      </td>
      <td class="col-4">
        <div class="row">
          <img
            [src]="item.imgURL"
            style="width: 90px; margin: 2px; border-radius: 10%"
            class="col-3 img-normal img-zoom me-3"
            alt="Album Cover"
          />
          <div class="col-9">
            <a class="h4">{{ item.itemName }}</a>
            <h5>{{ item.artistName }}</h5>
          </div>
        </div>
      </td>
      <td class="col-3 text-center">
        <h5>{{ item.albumName }}</h5>
      </td>
      <td class="col-1 text-center">
        <h5>{{ item.rating | number: '1.0-2' }}</h5>
      </td>
      <td class="col-1 text-center">
        <h5>{{ item.reviewsCount | number: '':'en' }}</h5>
      </td>
      <td class="col-1 text-center">
        <button class="col-auto btn" style="padding-top: 2px; padding-bottom: 2px; border: 0; background-color: rgba(0, 0, 0, 0)">
          <fa-icon
            [icon]="faTrash"
            *ngIf="item.isFocus"
            (click)="deleteItem(item.id)"
            style="font-size: 2em; margin: 0; padding: 0; color: #447848"
          ></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
