<div>
  <h2 id="page-heading" data-cy="FolderHeading">
    <span>Folders</span>

    <div class="d-flex justify-content-end">
      <button aria-label="Refresh List" class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        aria-label="Create a new folder"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-folder"
        [routerLink]="['/folder/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Folder </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="folders?.length === 0">
    <span>No Folders found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="folders && folders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span>Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="profile.id">
            <div class="d-flex">
              <span>Profile</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let folder of folders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/folder', folder.id, 'view']">{{ folder.id }}</a>
          </td>
          <td>{{ folder.name }}</td>
          <td>
            <a *ngIf="folder.image" (click)="openFile(folder.image, folder.imageContentType)">
              <img [src]="'data:' + folder.imageContentType + ';base64,' + folder.image" style="max-height: 30px" alt="folder image" />
            </a>
            <span *ngIf="folder.image">{{ folder.imageContentType }}, {{ byteSize(folder.image) }}</span>
          </td>
          <td>
            <div *ngIf="folder.profile">
              <a [routerLink]="['/profile', folder.profile.id, 'view']">{{ folder.profile.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                aria-label="View"
                type="submit"
                [routerLink]="['/folder', folder.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                aria-label="Edit"
                type="submit"
                [routerLink]="['/folder', folder.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button aria-label="Delete" type="submit" (click)="delete(folder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
