<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="folder">
      <h2 data-cy="folderDetailsHeading"><span>Folder</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ folder.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ folder.name }}</span>
        </dd>
        <dt><span>Image Path</span></dt>
        <dd>
          <div *ngIf="folder.imagePath">
            <a (click)="openFile(folder.imagePath, folder.imagePathContentType)">
              <img
                [src]="'data:' + folder.imagePathContentType + ';base64,' + folder.imagePath"
                style="max-width: 100%"
                alt="folder image"
              />
            </a>
            {{ folder.imagePathContentType }}, {{ byteSize(folder.imagePath) }}
          </div>
        </dd>
        <dt><span>Profile</span></dt>
        <dd>
          <div *ngIf="folder.profile">
            <a [routerLink]="['/profile', folder.profile.id, 'view']">{{ folder.profile.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/folder', folder.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
