<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="folderEntry">
      <h2 data-cy="folderEntryDetailsHeading"><span>Folder Entry</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ folderEntry.id }}</span>
        </dd>
        <dt><span>Spotify URI</span></dt>
        <dd>
          <span>{{ folderEntry.spotifyURI }}</span>
        </dd>
        <dt><span>Add Time</span></dt>
        <dd>
          <span>{{ folderEntry.addTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Folder</span></dt>
        <dd>
          <div *ngIf="folderEntry.folder">
            <a [routerLink]="['/folder', folderEntry.folder.id, 'view']">{{ folderEntry.folder.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/folder-entry', folderEntry.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
