.cover {
  width: 15em;
  height: 15em;
  display: inline;
}

.rating-review-select-page {
  padding-bottom: 1em;
  padding-top: 2em;
  padding-left: 0em;
}

.container {
}
@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    align-items: center;
  }
  .cover {
    margin-bottom: 15px;
  }
}

.title {
  vertical-align: top;
  margin-left: 20px;
  font-weight: bold;
  font-size: 2em;
}

.avgrating {
  margin-left: 20px;
  font-size: 1.2em;
}

.artist {
  vertical-align: top;
  margin-left: 20px;
  // font-weight: bold;
  font-size: 1.3em;
}

.rdate {
  vertical-align: top;
  margin-left: 20px;
  // font-weight: bold;
  font-size: 1.2em;
}

.album {
  vertical-align: top;
  margin-left: 20px;
  // font-weight: bold;
  font-size: 1.3em;
}

.description {
  vertical-align: top;
  margin-left: 20px;
  // font-weight: bold;
  font-size: 1.2em;
}

.total-like-user-main a {
  display: inline-block;
  margin: 0 -17px 0 0;
}
.total-like {
  border: 1px solid;
  border-radius: 50px;
  display: inline-block;
  font-weight: 500;
  height: 34px;
  line-height: 33px;
  padding: 0 13px;
  vertical-align: top;
}
.restaurant-detailed-ratings-and-reviews hr {
  margin: 0 -24px;
}
.graph-star-rating-header .star-rating {
  font-size: 17px;
}
.progress {
  background: #f2f4f8 none repeat scroll 0 0;
  border-radius: 0;
  height: 30px;
}
.rating-list {
  display: inline-flex;
  margin-bottom: 15px;
  width: 100%;
}
.rating-list-left {
  height: 16px;
  line-height: 29px;
  width: 10%;
}
.rating-list-center {
  width: 80%;
}
.rating-list-right {
  line-height: 29px;
  text-align: right;
  width: 10%;
}
.restaurant-slider-pics {
  bottom: 0;
  font-size: 12px;
  left: 0;
  z-index: 999;
  padding: 0 10px;
}
.restaurant-slider-view-all {
  bottom: 15px;
  right: 15px;
  z-index: 999;
}
.offer-dedicated-nav .nav-link.active,
.offer-dedicated-nav .nav-link:hover,
.offer-dedicated-nav .nav-link:focus {
  border-color: #3868fb;
  color: #3868fb;
}
.offer-dedicated-nav .nav-link {
  border-bottom: 2px solid #fff;
  color: #000000;
  padding: 16px 0;
  font-weight: 600;
}
.offer-dedicated-nav .nav-item {
  margin: 0 37px 0 0;
}
.restaurant-detailed-action-btn {
  margin-top: 12px;
}
.restaurant-detailed-header-right .btn-success {
  border-radius: 3px;
  height: 45px;
  margin: -18px 0 18px;
  min-width: 130px;
  padding: 7px;
}
.text-black {
  color: #000000;
  font-size: 1.3em;
}
.icon-overlap {
  bottom: -23px;
  font-size: 74px;
  opacity: 0.23;
  position: absolute;
  right: -32px;
}
.menu-list img {
  width: 41px;
  height: 41px;
  object-fit: cover;
}
.restaurant-detailed-header-left img {
  width: 88px;
  height: 88px;
  border-radius: 3px;
  object-fit: cover;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.reviews-members .media .mr-3 {
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.total-like-user {
  border: 2px solid #fff;
  height: 34px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  width: 34px;
}
.total-like-user-main a {
  display: inline-block;
  margin: 0 -17px 0 0;
}
.total-like {
  border: 1px solid;
  border-radius: 50px;
  display: inline-block;
  font-weight: 500;
  height: 34px;
  line-height: 33px;
  padding: 0 13px;
  vertical-align: top;
}
.restaurant-detailed-ratings-and-reviews hr {
  margin: 0 -24px;
}
.graph-star-rating-header .star-rating {
  font-size: 17px;
}
.progress {
  background: #f2f4f8 none repeat scroll 0 0;
  border-radius: 0;
  height: 30px;
}
.rating-list {
  display: inline-flex;
  margin-bottom: 15px;
  width: 100%;
}
.rating-list-left {
  height: 16px;
  line-height: 29px;
  width: 10%;
}
.rating-list-center {
  width: 80%;
}
.rating-list-right {
  line-height: 29px;
  text-align: right;
  width: 10%;
}
.restaurant-slider-pics {
  bottom: 0;
  font-size: 12px;
  left: 0;
  z-index: 999;
  padding: 0 10px;
}
.restaurant-slider-view-all {
  bottom: 15px;
  right: 15px;
  z-index: 999;
}

.progress {
  background: #f2f4f8 none repeat scroll 0 0;
  border-radius: 0;
  height: 30px;
}

.track-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse; // Ensures there's no space between table cells
  box-shadow: 0 2px 3px #ccc; // Gives a slight shadow to the table for depth

  th {
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: #f5f5f5; // A light grey background for the header row
    padding: 0.75em 1em;
    color: #333; // Dark grey text for contrast
  }

  tr {
    border-bottom: 1px solid #e1e1e1;
  }

  td {
    padding: 1em;
    vertical-align: middle;
    // For a look similar to the provided image, you can align the text to the left
    text-align: left;
  }

  // Highlighting the album cover column
  .album-cover-cell {
    img {
      width: auto; // Maintain aspect ratio
      height: 60px; // Adjust height as necessary to align with your design
      margin-right: 10px; // Space between the album cover and track name
    }
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    .track-table {
      // Here you can adjust any styles for smaller screens, such as font sizes
      // and cell padding to make the table more readable on mobile devices
      th,
      td {
        padding: 0.5em; // Reduced padding on smaller screens
      }
    }
  }
}

ngb-rating {
  .star {
    font-size: 5em !important; /* Makes stars larger and forces style */
    color: #ccc !important; /* Default color of stars */
  }

  .star.filled {
    color: #4caf50 !important; /* Changes the color of filled stars to green and forces style */
  }
}

.review-track-artist-right {
  text-align: right;
  font-size: 1.2em;
}

.rating-container {
  color: black;
  font-size: 18px;
}

.rating-container-span {
  display: flex;
  justify-content: flex-end;
  color: gold;
  font-size: 24px;
}

.rating-spans {
  display: flex;
  justify-content: flex-end;
  color: gold;
  font-size: 25px;
}

.reviews-members-header {
  font-size: 18px;
}

.no-underline {
  text-decoration: none;
}
