<!-- <button class="theme-toggler btn btn-success" (click)="toggleTheme()">nig/lig</button> -->

<div *ngIf="isTrack" class="container">
  <div class="row">
    <div class="col-12 col-md d-flex align-items-start">
      <img class="cover img-thumbnail me-3" [src]="imgURL" alt="Cover" />

      <div>
        <div class="track-container d-flex align-items-center">
          <span class="title">Track:&nbsp;&nbsp;{{ trackName }}</span>
          <a
            [href]="spotifyTrackLink"
            class="btn play-button"
            style="background-color: #ffffff00 !important; padding-top: 2px; padding-bottom: 2px; border: 0; background-color: white"
          >
            <fa-icon [icon]="faPlayCircle" style="font-size: 2.5em; color: #447848; background-color: #ffffff00 !important"></fa-icon>
          </a>
        </div>

        <span class="album d-block"
          ><a class="btn btn-link no-underline albumurl" (click)="redirectToAlbum(albumURI)">Album: {{ albumName }}</a></span
        >
        <!--        <a class=" no-underline" (click)="redirectToAlbum(albumURIforTrack)">{{ albumName }}</a>-->
        <span class="artist d-block">Artist: {{ artistName }}</span>
        <span class="rdate d-block">Release Date: {{ releaseDate }}</span>
        <!-- <ngb-rating class="avgrating" [max]="5" [readonly]="true" [rate]="3.5"></ngb-rating> -->
        <span class="avgrating d-block">average rating: {{ avgRating | number: '1.2-2' }}</span>
        <br />
        <div class="d-flex flex-column">
          <button class="btn btn-primary mb-2 redirectButton" (click)="addToWantToListen()">Want-to-listen</button>
          <button class="btn btn-primary redirectButton" (click)="openModal(id, content)">Add to Folder</button>
        </div>
      </div>
    </div>
  </div>
  <br />

  <ngb-alert [dismissible]="true" *ngIf="showAddWantListenSuccess" (close)="this.showAlert = false">
    <strong>Add to Want-to-listen-list successfully!</strong>
  </ngb-alert>
  <ngb-alert [dismissible]="true" *ngIf="showAddWantListenFail" (close)="this.showAlert = false">
    <strong>You already added this item in you List!</strong>
  </ngb-alert>

  <ngb-alert [dismissible]="true" *ngIf="showAlert" (close)="this.showAlert = false">
    <strong>Warning!</strong> Rating could not be 0, and comments cannot be empty.
  </ngb-alert>

  <div class="rounded shadow-sm rating-review-select-page">
    <h3 class="mb-4"><Strong>Leave a Review </Strong></h3>
    <form>
      <!-- Warning message for track selection -->
      <ngb-alert [dismissible]="false" *ngIf="showAlertTrack">
        <strong>Warning!</strong> You have to choose one track to review.
      </ngb-alert>
      <ngb-alert [dismissible]="true" *ngIf="showAlertReview" (close)="this.showAlertReview = false">
        <strong>Warning!</strong> You can only review and rate once!
      </ngb-alert>
      <div class="column-10 rating-container">
        <span class="rating-container-span">
          <ngb-rating [max]="5" [(rate)]="rating"></ngb-rating>
        </span>
      </div>
    </form>
    <form>
      <div class="form-group">
        <label class="YourComment">Your Comment</label>
        <textarea class="form-control" [(ngModel)]="comment" name="comment"></textarea>
      </div>
      <br />
      <div class="form-group text-end">
        <button (click)="submitReview()" class="btn btn-primary" type="button">Submit</button>
        <button (click)="clearContent()" class="btn btn-primary" type="button">Clear</button>
      </div>
    </form>
  </div>

  <br />

  <div class="row">
    <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
      <!-- <a href="#" class="btn btn-outline-primary btn-sm float-right">Top Rated</a> -->
      <h3 class="mb-1">All Ratings and Reviews</h3>
      <div *ngFor="let review of reviewList" class="reviews-members pt-4 pb-4">
        <div class="media">
          <div class="column-4">
            <a href="#" class="mb-4">
              <img
                alt="Generic placeholder image"
                [src]="review.userProfileImage"
                (click)="redirectToProfile(review.userId)"
                class="mr-3 rounded-pill img-fluid"
              />
            </a>
            <a class="p-4 userurl" (click)="redirectToProfile(review.userId)">{{ review.username }}</a>
            <p class="rating-spans">
              <ngb-rating [rate]="review.rating" [max]="5" [readonly]="true"></ngb-rating>
            </p>
          </div>
          <div class="media-body">
            <div class="reviews-members-body">
              <p class="lead my-lg-5 px-3 mt-5 mx-5">
                {{ review.reviewContent }}
              </p>
            </div>
            <div class="reviews-members-header align-items-end">
              <!--              <ngb-rating [rate]="review.rating" [max]="5" [readonly]="true"></ngb-rating>-->
              <!--              <p class="review-track-artist-right">Track: {{ review.reviewTrackName }} --- {{ artistName }}</p>-->
              <p class="text-end fst-italic">Track: {{ review.reviewTrackName }} --- {{ artistName }}</p>
              <p class="text-end fst-italic">{{ review.reviewDate | date: 'dd/MM/yyyy, h:mm a' }}</p>
            </div>
          </div>
          <button *ngIf="review.username === userName" class="btn btn-danger btn-sm" (click)="deleteReview(id)">Delete Review</button>
        </div>
        <hr />
      </div>

      <!-- <a class="text-center w-100 d-block mt-4 font-weight-bold" href="#">See All Reviews</a> -->
    </div>
  </div>
</div>

<!--//Album Start from here-->

<div *ngIf="!isTrack" class="container">
  <div class="row">
    <div class="col-12 col-md d-flex align-items-start">
      <img class="cover img-thumbnail me-3" [src]="imgURL" alt="Cover" />
      <!--      <div class="d-flex justify-content-between w-100">-->
      <!--        <div>-->
      <!--          &lt;!&ndash;        <span class="title d-block">{{ trackName }}</span>&ndash;&gt;-->
      <!--          <span class="album-t d-block">Album: {{ albumName }}</span>-->
      <!--          <span class="artist d-block">Artist Name: {{ artistName }}</span>-->
      <!--          <span class="rdate d-block">Release Date: {{ releaseDate }}</span>-->
      <!--          <span class="rdate d-block">Total Tracks: {{ totalTracks }}</span>-->
      <!--          &lt;!&ndash; <ngb-rating class="avgrating" [max]="5" [readonly]="true" [rate]="3.5"></ngb-rating> &ndash;&gt;-->
      <!--          <span class="avgrating d-block">average rating: {{ avgRating | number: '1.2-2' }}</span>-->
      <!--          <br />-->
      <!--          &lt;!&ndash;          <span class="description d-block">Description: {{ description }}</span>&ndash;&gt;-->
      <!--        </div>-->

      <!--        <div class="d-flex flex-column align-items-end">-->
      <!--          <button class="btn btn-primary mb-2 redirectButton" (click)="addToWantToListen()">Want-to-listen</button>-->
      <!--          <button class="btn btn-primary redirectButton" (click)="openModal(id, content)">Add to Folder</button>-->
      <!--        </div>-->
      <div>
        <!--        <span class="title d-block">{{ trackName }}</span>-->
        <span class="album-t d-block">Album: {{ albumName }}</span>
        <span class="artist d-block">Artist Name: {{ artistName }}</span>
        <span class="rdate d-block">Release Date: {{ releaseDate }}</span>
        <span class="rdate d-block">Total Tracks: {{ totalTracks }}</span>
        <!-- <ngb-rating class="avgrating" [max]="5" [readonly]="true" [rate]="3.5"></ngb-rating> -->
        <span class="avgrating d-block">average rating: {{ avgRating | number: '1.2-2' }}</span>

        <!--        //  Add To Folder and Want to Listen Please look at here-->
        <!--        //  Add To Folder and Want to Listen Please look at here-->
        <!--        //  Add To Folder and Want to Listen Please look at here-->
        <div class="d-flex flex-column align-items-start">
          <button class="btn btn-primary mb-2 redirectButton" (click)="addToWantToListen()">Want-to-listen</button>
          <button class="btn btn-primary redirectButton" (click)="openModal(id, content)">Add to Folder</button>
        </div>
      </div>
    </div>
  </div>
  <br />

  <ngb-alert [dismissible]="true" *ngIf="showAddWantListenSuccess" (close)="this.showAlert = false">
    <strong>Add to Want-to-listen-list successfully!</strong>
  </ngb-alert>
  <ngb-alert [dismissible]="true" *ngIf="showAddWantListenFail" (close)="this.showAlert = false">
    <strong>You already added this item in you List!</strong>
  </ngb-alert>

  <ngb-alert [dismissible]="false" *ngIf="showAlert">
    <strong>Warning!</strong> Rating could not be 0, and comments cannot be empty.
  </ngb-alert>
  <div class="row">
    <table class="track-table table">
      <thead>
        <tr>
          <th class="tracksalbum">Track Name</th>
          <th class="tracksalbum">Artist Name</th>
          <th class="tracksalbum">Release Date</th>
          <th class="tracksalbum">avgRating</th>
          <th class="tracksalbum" style="text-align: center; vertical-align: middle">play</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of trackList">
          <td class="album-cover-cell">
            <img [src]="imgURL" alt="Album Cover" />
            <a class="btn btn-link no-underline trackurlinrating" (click)="redirectToTrack(track.spotifyURI)">{{ track.trackName }}</a>
          </td>
          <td>{{ track.artistName }}</td>
          <td>{{ track.releaseDate }}</td>
          <td>{{ track.rating | number: '1.2-2' }}</td>
          <td style="text-align: center; vertical-align: middle">
            <a [href]="getSpotifyLink(id)" target="_blank" class="btn btn-primary playbtn">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                <path
                  d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"
                />
              </svg>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--Leave a review for track-->
  <div class="row leaveReview" *ngIf="!showAlbumReviews">
    <div class="rounded shadow-sm rating-review-select-page">
      <h5 class="mb-4"><Strong>Leave a Review </Strong></h5>
      <div class="form-check form-switch">
        <input class="form-check-input" style="display: none" type="checkbox" id="aaa" [(ngModel)]="showAlbumReviews" />
        <label class="btn btn-primary" (click)="toggleReviews()" for="aaa">
          {{ showAlbumReviews ? 'Click to Review Track' : 'Click to Review Album' }}
        </label>
      </div>

      <form>
        <!-- Warning message for track selection -->
        <ngb-alert [dismissible]="false" *ngIf="showAlertTrack">
          <strong>Warning!</strong> You have to choose one track to review.
        </ngb-alert>
        <ngb-alert [dismissible]="true" *ngIf="showAlertReview" (close)="this.showAlertReview = false">
          <strong>Warning!</strong> You can only review and rate once!
        </ngb-alert>
        <div class="column-10 rating-container">
          <label for="track-select"><Strong>Choose a Track:</Strong></label>
          <br />
          <select
            id="track-select"
            class="rounded-pill"
            [(ngModel)]="selectedSpotifyURI"
            (ngModelChange)="onTrackSelected($event)"
            name="track"
          >
            <option *ngFor="let track of trackList" [value]="track.spotifyURI">{{ track.trackName }} ---{{ track.artistName }}</option>
          </select>
          <span class="rating-container-span">
            <ngb-rating [max]="5" [(rate)]="rating"></ngb-rating>
          </span>
        </div>
      </form>

      <form>
        <div class="form-group">
          <label>Your Comment</label>
          <textarea class="form-control" [(ngModel)]="comment" name="comment"></textarea>
        </div>
        <br />
        <div class="form-group text-end">
          <button (click)="submitReview()" class="btn btn-primary" type="button">Submit</button>
          <button (click)="clearContent()" class="btn btn-primary" type="button">Clear</button>
        </div>
      </form>
    </div>
  </div>

  <!--  Leave a review for album-->
  <div class="row leaveReview" *ngIf="showAlbumReviews">
    <div class="rounded shadow-sm rating-review-select-page">
      <h5 class="mb-4"><Strong>Leave a Review For the Album </Strong></h5>

      <div class="form-check form-switch">
        <input class="form-check-input" style="display: none" type="checkbox" id="checkAlbumOrTrack" [(ngModel)]="showAlbumReviews" />

        <label class="btn btn-primary" (click)="toggleReviews()" for="checkAlbumOrTrack">
          {{ showAlbumReviews ? 'Click to Review Track' : 'Click to Review Album' }}
        </label>
      </div>

      <form>
        <!-- Warning message for track selection -->
        <ngb-alert [dismissible]="true" *ngIf="showAlertReview" (close)="showAlertReview = false">
          <strong>Warning!</strong> You can only review and rate once!
        </ngb-alert>
        <div class="column-10 rating-container">
          <br />
          <span class="rating-container-span">
            <ngb-rating [max]="5" [(rate)]="rating"></ngb-rating>
          </span>
        </div>
      </form>

      <form>
        <div class="form-group">
          <label>Your Comment</label>
          <textarea class="form-control" [(ngModel)]="comment" name="comment"></textarea>
        </div>
        <br />
        <div class="form-group text-end">
          <button (click)="submitReview()" class="btn btn-primary" type="button">Submit</button>
          <button (click)="clearContent()" class="btn btn-primary" type="button">Clear</button>
        </div>
      </form>
    </div>
  </div>

  <br />

  <!--View track reviews on clicking "view track review button"-->
  <div *ngIf="!showAlbumReviews">
    <div class="form-check form-switch">
      <input class="form-check-input" style="display: none" type="checkbox" id="ccc" [(ngModel)]="showAlbumReviews" />

      <label class="btn btn-primary" (click)="toggleReviews()" for="ccc">
        {{ showAlbumReviews ? 'Find Track Reviews' : 'Find Album Reviews' }}
      </label>
    </div>
    <div class="row leaveReview">
      <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
        <h4 class="mb-1">Track Ratings and Reviews</h4>
        <div *ngFor="let review of paginatedReviews" class="reviews-members pt-4 pb-4">
          <div class="media">
            <div class="column-4">
              <a href="#" class="mb-4">
                <img
                  alt="Generic placeholder image"
                  (click)="redirectToProfile(review.userId)"
                  [src]="review.userProfileImage"
                  class="mr-3 rounded-pill img-fluid"
                />
              </a>
              <a class="userurl p-4" (click)="redirectToProfile(review.userId)">{{ review.username }}</a>
              <p class="rating-spans">
                <ngb-rating [rate]="review.rating" [max]="5" [readonly]="true"></ngb-rating>
              </p>
            </div>
            <div class="media-body">
              <p class="lead px-4 mt-2 mx-2">
                {{ review.reviewContent }}
              </p>
              <div class="reviews-members-header align-items-end">
                <p class="text-end fst-italic">Track: {{ review.reviewTrackName }} --- {{ artistName }}</p>
                <p class="text-end fst-italic">{{ review.reviewDate | date: 'dd/MM/yyyy, h:mm a' }}</p>
              </div>
            </div>
            <button
              *ngIf="review.username === userName"
              class="btn btn-danger btn-sm deleteButton"
              (click)="deleteReview(findSpotifyURIByTrackName(review.reviewTrackName))"
            >
              Delete Review
            </button>
          </div>
          <hr />
        </div>
        <ngb-pagination
          [collectionSize]="reviewList.length"
          [(page)]="currentPage"
          [pageSize]="reviewsPerPage"
          aria-label="Pagination"
        ></ngb-pagination>
      </div>
    </div>
  </div>

  <!--View album reviews!!-->
  <div *ngIf="showAlbumReviews">
    <div class="form-check form-switch">
      <input class="form-check-input" style="display: none" type="checkbox" id="abc" [(ngModel)]="showAlbumReviews" />

      <label class="btn btn-primary" (click)="toggleReviews()" for="abc">
        {{ showAlbumReviews ? 'Find Track Reviews' : 'Find Album Reviews' }}
      </label>
    </div>
    <div class="row">
      <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
        <h4 class="mb-1">Album Ratings and Reviews</h4>
        <div *ngFor="let review of paginatedReviews" class="reviews-members pt-4 pb-4">
          <div class="media">
            <div class="column-4">
              <a href="#" class="mb-4">
                <img
                  alt="Generic placeholder image"
                  [src]="review.userProfileImage"
                  (click)="redirectToProfile(review.userId)"
                  class="mr-3 rounded-pill img-fluid"
                />
              </a>
              <a class="userurl p-4" (click)="redirectToProfile(review.userId)">{{ review.username }}</a>
              <p class="rating-spans">
                <ngb-rating [rate]="review.rating" [max]="5" [readonly]="true"></ngb-rating>
              </p>
            </div>
            <div class="media-body">
              <p class="lead px-4 mt-2 mx-2">
                {{ review.reviewContent }}
              </p>
              <div class="reviews-members-header align-items-end">
                <p class="text-end fst-italic">Album: {{ review.reviewTrackName }} --- {{ artistName }}</p>
                <p class="text-end fst-italic">{{ review.reviewDate | date: 'dd/MM/yyyy, h:mm a' }}</p>
              </div>
            </div>
            <button *ngIf="review.username === userName" class="btn btn-danger btn-sm deleteButton" (click)="deleteReview(id)">
              Delete Review
            </button>
          </div>
          <hr />
        </div>
        <ngb-pagination
          [collectionSize]="reviewList.length"
          [(page)]="currentPage"
          [pageSize]="reviewsPerPage"
          aria-label="Pagination"
          class="pagenation"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      Add to Your Folder
      <span style="margin-left: 10px"></span>
      <button class="btn btn-secondary btn-sm" [routerLink]="['/addToFolder']" (click)="modal.dismiss()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
          <path
            d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"
          />
          <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5" />
        </svg>
      </button>
    </h4>
    <button class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li *ngFor="let folder of folderList" class="list-group-item" (click)="addToFolder(folder.folderId)">
        <div class="d-flex align-items-center">
          <img [src]="folder.imageURL" class="me-3" style="width: 50px; height: 50px" />
          <span style="color: dimgrey; font-size: 20px">{{ folder.folderName }}</span>
        </div>
      </li>
    </ul>
  </div>
</ng-template>
