$custom-green: rgb(68, 120, 72);
.abcde {
  color: $custom-green;
}

.playbtn {
  border-radius: 20%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.cover {
  width: 15em;
  height: 15em;
  display: inline;
}

.rating-review-select-page {
  padding-bottom: 1em;
  padding-top: 2em;
  padding-left: 0em;
  color: $custom-green;
}

.YourComment {
  color: $custom-green;
  font-size: 20px;
}
@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    align-items: center;
  }
  .cover {
    margin-bottom: 15px;
  }
}

.title {
  vertical-align: top;
  margin-left: 20px;
  font-weight: bold;
  font-size: 2em;
}

.avgrating {
  margin-left: 20px;
  font-size: 1.2em;
}

.artist {
  vertical-align: top;
  margin-left: 20px;
  padding-bottom: 5px;
  font-size: 1.3em;
}

.rdate {
  vertical-align: top;
  margin-left: 20px;
  padding-bottom: 5px;
  font-size: 1.2em;
}

.album {
  vertical-align: top;
  margin-left: 9px;
  font-size: 1.2em;
}

.album-t {
  vertical-align: top;
  margin-left: 20px;
  font-size: 2em;
}

.description {
  vertical-align: top;
  margin-left: 20px;
  font-size: 1.2em;
}

.total-like-user-main a {
  display: inline-block;
  margin: 0 -17px 0 0;
}

.total-like {
  border: 1px solid;
  border-radius: 50px;
  display: inline-block;
  font-weight: 500;
  height: 34px;
  line-height: 33px;
  padding: 0 13px;
  vertical-align: top;
}

.restaurant-detailed-ratings-and-reviews hr {
  margin: 0 -24px;
  background-color: var(--div-background-light);
}

.text-black {
  color: #000000;
  font-size: 1.3em;
}

.reviews-members .media .mr-3 {
  width: 82px;
  height: 82px;
  object-fit: cover;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.track-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0 2px 3px #ccc;
  background-color: var(--header-bg-color);
  color: var(--text-color);

  th {
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: #f5f5f5;
    padding: 0.75em 1em;
    color: #333;
  }

  tr {
    border-bottom: 1px solid #e1e1e1;
  }

  td {
    padding: 1em;
    vertical-align: middle;
    text-align: left;
  }

  .album-cover-cell {
    img {
      width: auto;
      height: 60px;
      margin-right: 10px;
    }
  }

  @media (max-width: 768px) {
    .track-table {
      th,
      td {
        padding: 0.5em;
      }
    }
  }
}

ngb-rating {
  .star {
    font-size: 5em !important;
    color: #ccc !important;
  }

  .star.filled {
    color: #4caf50 !important;
  }
}

.rating-container {
  color: black;
  font-size: 18px;
  text-align: left;
}

.rating-container-span {
  display: flex;
  justify-content: flex-end;
  color: rgb(245, 209, 6);
  font-size: 24px;
}

.rating-spans {
  display: flex;
  justify-content: flex-end;
  color: rgb(245, 209, 6);
  font-size: 25px;
}

.reviews-members-header {
  font-size: 15px;
  padding-top: 20px;
}

.no-underline {
  font-size: 1em;
  vertical-align: middle;
}

.form-check-label {
  font-size: 18px;
  color: #006400;
}

.form-check {
  text-align: right;
}

.deleteButton {
  text-align: right;
}

.redirectButton {
  width: 170px;
  height: 35px;
}

.align-items-start {
  align-items: flex-start; /* Ensures vertical alignment at the top */
}

.ms-2 {
  margin-left: 0.5rem; /* Adds a small space between the two buttons */
}

.wtl {
  margin-left: 0.5rem;
}

.track-container {
  display: flex;
  align-items: center;
}
.title {
  margin-right: 10px;
}

.play-button {
  padding: 2px;
  border: 0;
  background-color: white;
  display: flex;
  align-items: center;
}

.button1,
.button2 {
  margin-left: 20px;
}
