<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-track-heading" data-cy="TrackCreateUpdateHeading">Create or edit a Track</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" for="field_spotifyURI">Spotify URI</label>
          <input
            type="text"
            class="form-control"
            name="spotifyURI"
            id="field_spotifyURI"
            data-cy="spotifyURI"
            formControlName="spotifyURI"
            [readonly]="editForm.get('spotifyURI')!.value != null"
          />
          <div *ngIf="editForm.get('spotifyURI')!.invalid && (editForm.get('spotifyURI')!.dirty || editForm.get('spotifyURI')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('spotifyURI')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_releaseDate">Release Date</label>
          <div class="input-group">
            <input
              id="field_releaseDate"
              data-cy="releaseDate"
              type="text"
              class="form-control"
              name="releaseDate"
              ngbDatepicker
              #releaseDateDp="ngbDatepicker"
              formControlName="releaseDate"
            />
            <button type="button" class="btn btn-secondary" (click)="releaseDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div *ngIf="editForm.get('releaseDate')!.invalid && (editForm.get('releaseDate')!.dirty || editForm.get('releaseDate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('releaseDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_rating">Rating</label>
          <input type="number" class="form-control" name="rating" id="field_rating" data-cy="rating" formControlName="rating" />
          <div *ngIf="editForm.get('rating')!.invalid && (editForm.get('rating')!.dirty || editForm.get('rating')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('rating')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('rating')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label for="field_artists">Artist</label>
          <select
            class="form-control"
            id="field_artists"
            data-cy="artist"
            multiple
            name="artists"
            formControlName="artists"
            [compareWith]="compareArtist"
          >
            <option [ngValue]="artistOption" *ngFor="let artistOption of artistsSharedCollection">{{ artistOption.spotifyURI }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_folderEntries">Folder Entry</label>
          <select
            class="form-control"
            id="field_folderEntries"
            data-cy="folderEntry"
            multiple
            name="folderEntries"
            formControlName="folderEntries"
            [compareWith]="compareFolderEntry"
          >
            <option [ngValue]="folderEntryOption" *ngFor="let folderEntryOption of folderEntriesSharedCollection">
              {{ folderEntryOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_wantToListenListEntries">Want To Listen List Entry</label>
          <select
            class="form-control"
            id="field_wantToListenListEntries"
            data-cy="wantToListenListEntry"
            multiple
            name="wantToListenListEntries"
            formControlName="wantToListenListEntries"
            [compareWith]="compareWantToListenListEntry"
          >
            <option
              [ngValue]="wantToListenListEntryOption"
              *ngFor="let wantToListenListEntryOption of wantToListenListEntriesSharedCollection"
            >
              {{ wantToListenListEntryOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_album">Album</label>
          <select class="form-control" id="field_album" data-cy="album" name="album" formControlName="album" [compareWith]="compareAlbum">
            <option [ngValue]="null"></option>
            <option [ngValue]="albumOption" *ngFor="let albumOption of albumsSharedCollection">{{ albumOption.spotifyURI }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
