h2 {
  color: rgb(68, 120, 72);
  font-size: 3.8em;
  font-weight: 700;
  font-family: 'Anta', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.anta-regular {
  font-family: 'Anta', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes one-in {
  0% {
    transform: translateX(10%) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translateX(0) scale(1.05);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.animated-element {
  animation: one-in 1s ease-in-out forwards;
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.record-animation {
  animation: slideInFromRight 0.6s ease-out forwards;
}

.new-record-animation {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

strong {
  // color: rgb(59, 101, 62);
  font-size: 1.2em;
  font-weight: 1000;
}

.table-text {
  font-size: 1.2em;
  font-weight: 900;
}

.green {
  color: rgb(68, 120, 72);
}

a {
  text-decoration: none;
  color: inherit;
}

.form-control-underline {
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc; /* 底部边框样式 */
  border-radius: 0; /* 移除默认的圆角 */
}

.form-control-underline:focus {
  border-bottom-color: #0a6e14; /* 聚焦时的底部边框颜色，可以根据需要调整 */
}

.input-group-text.bg-white {
  border: none;
}

.input-group-text {
  margin-right: -1px;
}

.fas.fa-search {
  margin-right: 20px;
  color: #0a6e14;
  position: relative;
  left: 10px;
}

.img-normal {
  transition: transform 0.5s ease;
  border-radius: 7%;
}

/* 鼠标悬停时图片放大 */
.img-zoom:hover {
  transform: scale(1.1); /* 根据需要调整放大比例 */
  z-index: 1000; /* 确保图片在其他元素之上 */
}
