h2 {
  color: rgb(68, 120, 72);
  font-size: 3.8em;
  font-weight: 700;
}

@keyframes one-in {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0);
  }
}

.animated-element {
  animation: one-in 1s ease-in-out forwards;
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.record-animation {
  animation: slideInFromRight 0.5s ease-out forwards;
}

.new-record-animation {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

strong {
  // color: rgb(59, 101, 62);
  font-size: 1.2em;
  font-weight: 1000;
}

.table-text {
  font-size: 1.2em;
  font-weight: 900;
}

.green {
  color: rgb(68, 120, 72);
}

a {
  //去除超链接特效
  text-decoration: none;
  //去除超链接颜色
  color: inherit;
}

// .loader {
//   border: 5px solid #f3f3f3; /* Light grey */
//   border-top: 5px solid #3498db; /* Blue */
//   border-radius: 50%;
//   width: 50px;
//   height: 50px;
//   animation: spin 1s linear infinite;
// }

// @keyframes spin {
//   0% { transform: rotate(0deg); }
//   100% { transform: rotate(360deg); }
// }
