<div class="container">
  <table class="table table-bordered table-hover mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center align-middle table-text green">#</th>
        <th scope="col" class="table-text green">Track/Album</th>
        <th scope="col" class="text-center align-middle table-text green">Artist</th>
        <th scope="col" class="text-center align-middle table-text green">Reviews</th>
        <th scope="col" class="text-center align-middle table-text green">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of recordList">
        <th scope="row" class="text-center">{{ record.id }}</th>
        <td>
          <div class="d-flex align-items-center">
            <a [routerLink]="['/rating', record.trackURI]">
              <img [src]="record.imgURL" style="width: 90px; margin: 2px; border-radius: 7%" class="me-3" />
            </a>
            <div class="flex-grow-1">
              <a [routerLink]="['/rating', record.trackURI]" class="text-left d-block">
                <strong>{{ record.trackName }}</strong>
              </a>
            </div>
          </div>
        </td>
        <td class="text-center">{{ record.artist }}</td>
        <td class="text-center">{{ record.reviews }}</td>
        <td class="text-center">{{ record.rating | number: '1.0-2' }}</td>
        <td class="text-center">
          <button class="add-button" (click)="openModal(record.trackURI, content)">Add</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)="openModal(addFolderContent)" class="btn btn-success" type="button"><i class="bi bi-plus"></i> +</button>

  <table class="table table-bordered table-hover mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center align-middle table-text green">#</th>
        <th scope="col" class="table-text green">FolderName</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let folder of folderList">
        <th scope="row" class="text-center">{{ folder.id }}</th>
        <td>
          <div class="d-flex align-items-center">
            <a [routerLink]="['/folderPage', folder.folderId]">
              <img [src]="folder.imageURL" style="width: 90px; margin: 2px; border-radius: 7%" class="me-3" />
            </a>
            <div class="flex-grow-1">
              <a [routerLink]="['/folderPage', folder.folderId]" class="text-left d-block">
                <strong>{{ folder.folderName }}</strong>
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Select Folder</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li *ngFor="let folder of folderList" class="list-group-item" (click)="addToFolder(folder.folderId)">
        <div class="d-flex align-items-center">
          <img [src]="folder.imageURL" class="me-3" style="width: 50px; height: 50px" />
          <span>{{ folder.folderName }}</span>
        </div>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #addFolderContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Enter the name of your folder</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input class="form-control" [(ngModel)]="folderName" name="folderName" placeholder="Folder name (max 18 characters)" />
    </div>
    <ngb-alert [dismissible]="false" *ngIf="showAlert" class="alert alert-danger">
      <strong>Warning!</strong> The input can not be empty!
    </ngb-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="addFolder()">Add Folder</button>
  </div>
</ng-template>
