<div class="container">
  <h2><span class="big-l">F</span>OLDERS</h2>
  <button (click)="openModal(addFolderContent)" class="btn btn-primary" type="button">+ Create New Folder</button>
  <table class="table table-bordered table-hover mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center" style="color: rgb(68, 120, 72)">#</th>
        <th scope="col" class="text-center" style="color: rgb(68, 120, 72)">Folder Name</th>
        <th scope="col" class="text-center" style="color: rgb(68, 120, 72)">Edit</th>
        <th scope="col" class="text-center" style="color: rgb(68, 120, 72)">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let folder of folderList">
        <th scope="row" class="text-center align-middle" style="color: #666666">{{ folder.id }}</th>
        <td>
          <div class="d-flex align-items-center">
            <a [routerLink]="['/folderPage', folder.folderId]">
              <img [src]="folder.imageURL" style="width: 90px; height: 90px; margin: 2px; border-radius: 7%" class="me-3" />
            </a>
            <div class="flex-grow-1">
              <a [routerLink]="['/folderPage', folder.folderId]" class="text-left d-block">
                <strong>{{ folder.folderName }}</strong>
              </a>
            </div>
          </div>
        </td>

        <td class="text-center align-middle">
          <button class="btn btn-primary" (click)="editFolder(folder.folderId)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="28" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"
              />
            </svg>
          </button>
        </td>

        <td class="text-center align-middle">
          <button class="btn btn-gray-delete" (click)="deleteFolder(folder.folderId)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
              />
              <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
              />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #addFolderContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Enter the name of your folder</h4>
    <button class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input class="form-control" [(ngModel)]="folderName" name="folderName" placeholder="Folder Name (Max 18 characters)" />
    </div>
    <ngb-alert [dismissible]="false" *ngIf="showAlertShort" class="alert alert-danger">
      <strong>Warning!</strong> The input can not be empty!
    </ngb-alert>
    <ngb-alert [dismissible]="false" *ngIf="showAlertLong" class="alert alert-danger">
      <strong>Warning!</strong> The input can not be longer than 18 characters!
    </ngb-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="addFolder()">Add Folder</button>
  </div>
</ng-template>
