<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-want-to-listen-list-entry-heading" data-cy="WantToListenListEntryCreateUpdateHeading">
        Create or edit a Want To Listen List Entry
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spotifyURI">Spotify URI</label>
          <input
            type="text"
            class="form-control"
            name="spotifyURI"
            id="field_spotifyURI"
            data-cy="spotifyURI"
            formControlName="spotifyURI"
          />
          <div *ngIf="editForm.get('spotifyURI')!.invalid && (editForm.get('spotifyURI')!.dirty || editForm.get('spotifyURI')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('spotifyURI')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_userID">User ID</label>
          <input type="text" class="form-control" name="userID" id="field_userID" data-cy="userID" formControlName="userID" />
          <div *ngIf="editForm.get('userID')!.invalid && (editForm.get('userID')!.dirty || editForm.get('userID')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('userID')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_addTime">Add Time</label>
          <div class="d-flex">
            <input
              id="field_addTime"
              data-cy="addTime"
              type="datetime-local"
              class="form-control"
              name="addTime"
              formControlName="addTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('addTime')!.invalid && (editForm.get('addTime')!.dirty || editForm.get('addTime')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('addTime')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('addTime')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
