<div>
  <h2 id="page-heading" data-cy="SpotifyConnectionHeading">
    <span>Spotify Connections</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-spotify-connection"
        [routerLink]="['/spotify-connection/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Spotify Connection </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="spotifyConnections?.length === 0">
    <span>No Spotify Connections found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="spotifyConnections && spotifyConnections.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="spotifyURI">
            <div class="d-flex">
              <span>Spotify URI</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="refreshToken">
            <div class="d-flex">
              <span>Refresh Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accessToken">
            <div class="d-flex">
              <span>Access Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accessTokenExpiresAt">
            <div class="d-flex">
              <span>Access Token Expires At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spotifyConnection of spotifyConnections; trackBy: trackSpotifyURI" data-cy="entityTable">
          <td>
            <a [routerLink]="['/spotify-connection', spotifyConnection.spotifyURI, 'view']">{{ spotifyConnection.spotifyURI }}</a>
          </td>
          <td>{{ spotifyConnection.refreshToken }}</td>
          <td>{{ spotifyConnection.accessToken }}</td>
          <td>{{ spotifyConnection.accessTokenExpiresAt | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/spotify-connection', spotifyConnection.spotifyURI, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/spotify-connection', spotifyConnection.spotifyURI, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(spotifyConnection)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
