@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */
.custom-navbar-bg {
  background-color: #507653 !important;
}
a.dropdown-item:hover {
  color: white !important;
}

.nav-link {
  position: relative;
}

.label {
  position: absolute;
  top: 0;
  left: calc(100% + 10px);
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10000;
}

.nav-item:hover .label {
  display: block;
}

.icon-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-text-wrapper fa-icon {
  margin-bottom: -6px;
}

.text {
  font-size: 0.8em;
  // color: $navbar-dark-color;
}

.navbar-version {
  font-size: 0.65em;
  height: 3.5rem;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}
.navbar {
  z-index: 10000;
  padding: 0.2rem 1rem;
  // background-color: #ff0101;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $dark;
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}

@font-face {
  font-family: 'iconfont'; /* Project id  */
  src: url('iconfont.ttf?t=1710607741114') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: '\e6b9';
}

.icon-compass:before {
  content: '\e77d';
}

.icon-list-ol:before {
  content: '\e8b0';
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-new.png') no-repeat left center;

  background-size: contain;
}
