<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="album">
      <h2 data-cy="albumDetailsHeading"><span>Album</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Spotify URI</span></dt>
        <dd>
          <span>{{ album.spotifyURI }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ album.name }}</span>
        </dd>
        <dt><span>Total Tracks</span></dt>
        <dd>
          <span>{{ album.totalTracks }}</span>
        </dd>
        <dt><span>Release Date</span></dt>
        <dd>
          <span>{{ album.releaseDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
          <span>{{ album.rating }}</span>
        </dd>
        <dt><span>Image URL</span></dt>
        <dd>
          <span>{{ album.imageURL }}</span>
        </dd>
        <dt><span>Artist</span></dt>
        <dd>
          <span *ngFor="let artist of album.artists; let last = last">
            <a [routerLink]="['/artist', artist.spotifyURI, 'view']">{{ artist.spotifyURI }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Folder Entry</span></dt>
        <dd>
          <span *ngFor="let folderEntry of album.folderEntries; let last = last">
            <a [routerLink]="['/folder-entry', folderEntry.id, 'view']">{{ folderEntry.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Want To Listen List Entry</span></dt>
        <dd>
          <span *ngFor="let wantToListenListEntry of album.wantToListenListEntries; let last = last">
            <a [routerLink]="['/want-to-listen-list-entry', wantToListenListEntry.id, 'view']">{{ wantToListenListEntry.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button aria-label="Back" type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button aria-label="Edit" type="button" [routerLink]="['/album', album.spotifyURI, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
