<div>
  <h2 id="page-heading" data-cy="FolderEntryHeading">
    <span>Folder Entries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-folder-entry"
        [routerLink]="['/folder-entry/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Folder Entry </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="folderEntries?.length === 0">
    <span>No Folder Entries found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="folderEntries && folderEntries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="folderID">
            <div class="d-flex">
              <span>Folder ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="spotifyURI">
            <div class="d-flex">
              <span>Spotify URI</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addTime">
            <div class="d-flex">
              <span>Add Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="folder.id">
            <div class="d-flex">
              <span>Folder</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let folderEntry of folderEntries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/folder-entry', folderEntry.id, 'view']">{{ folderEntry.id }}</a>
          </td>
          <td>{{ folderEntry.folderID }}</td>
          <td>{{ folderEntry.spotifyURI }}</td>
          <td>{{ folderEntry.addTime | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="folderEntry.folder">
              <a [routerLink]="['/folder', folderEntry.folder.id, 'view']">{{ folderEntry.folder.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/folder-entry', folderEntry.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/folder-entry', folderEntry.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(folderEntry)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
