<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="spotifyConnection">
      <h2 data-cy="spotifyConnectionDetailsHeading"><span>Spotify Connection</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Spotify URI</span></dt>
        <dd>
          <span>{{ spotifyConnection.spotifyURI }}</span>
        </dd>
        <dt><span>Refresh Token</span></dt>
        <dd>
          <span>{{ spotifyConnection.refreshToken }}</span>
        </dd>
        <dt><span>Access Token</span></dt>
        <dd>
          <span>{{ spotifyConnection.accessToken }}</span>
        </dd>
        <dt><span>Access Token Expires At</span></dt>
        <dd>
          <span>{{ spotifyConnection.accessTokenExpiresAt | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/spotify-connection', spotifyConnection.spotifyURI, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
