<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-profile-heading" data-cy="ProfileCreateUpdateHeading">Create or edit a Profile</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
          <div *ngIf="editForm.get('username')!.invalid && (editForm.get('username')!.dirty || editForm.get('username')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('username')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spotifyURI">Spotify URI</label>
          <input
            type="text"
            class="form-control"
            name="spotifyURI"
            id="field_spotifyURI"
            data-cy="spotifyURI"
            formControlName="spotifyURI"
          />
          <div *ngIf="editForm.get('spotifyURI')!.invalid && (editForm.get('spotifyURI')!.dirty || editForm.get('spotifyURI')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('spotifyURI')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_profilePhoto">Profile Photo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('profilePhotoContentType')!.value + ';base64,' + editForm.get('profilePhoto')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('profilePhoto')!.value"
              alt="profile image"
            />
            <div *ngIf="editForm.get('profilePhoto')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('profilePhotoContentType')!.value }}, {{ byteSize(editForm.get('profilePhoto')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('profilePhoto', 'profilePhotoContentType', 'file_profilePhoto')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_profilePhoto"
              data-cy="profilePhoto"
              (change)="setFileData($event, 'profilePhoto', true)"
              accept="image/*"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="profilePhoto"
            id="field_profilePhoto"
            data-cy="profilePhoto"
            formControlName="profilePhoto"
          />
          <input
            type="hidden"
            class="form-control"
            name="profilePhotoContentType"
            id="field_profilePhotoContentType"
            formControlName="profilePhotoContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spotifyConnection">Spotify Connection</label>
          <select
            class="form-control"
            id="field_spotifyConnection"
            data-cy="spotifyConnection"
            name="spotifyConnection"
            formControlName="spotifyConnection"
            [compareWith]="compareSpotifyConnection"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="spotifyConnectionOption" *ngFor="let spotifyConnectionOption of spotifyConnectionsCollection">
              {{ spotifyConnectionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
