<div class="container">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <img [src]="imageURL" style="width: 300px; margin: 5px; border-radius: 10%" class="me-3" />
      </div>
      <div class="col-auto d-flex flex-column position-relative">
        <h2 style="color: rgb(68, 120, 72); font-size: 70px">{{ folderName | slice: 0:20 }}</h2>
        <!--        <button class="rename-button mt-auto position-absolute" (click)="openDialog()">Rename</button>-->
      </div>
    </div>
  </div>

  <table class="table table-bordered table-hover mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center align-middle table-text green">#</th>
        <th scope="col" class="text-center align-middle table-text green">Name</th>
        <th scope="col" class="text-center align-middle table-text green">Artist</th>
        <th scope="col" class="text-center align-middle table-text green"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let folderEntry of folderEntryList; let i = index">
        <th scope="row" class="text-center">{{ i + 1 }}</th>
        <td>
          <div class="d-flex align-items-center">
            <a [routerLink]="['/rating', folderEntry.spotifyURI]">
              <img [src]="entryInfoList[i].imageURL" style="width: 90px; margin: 2px; border-radius: 7%" class="me-3" />
            </a>
            <div class="flex-grow-1">
              <a [routerLink]="['/rating', folderEntry.spotifyURI]" class="text-left d-block">
                <strong>{{ entryInfoList[i].entryName }}</strong>
              </a>
            </div>
          </div>
        </td>
        <td class="text-center align-middle">
          <strong style="color: #666666">{{ entryInfoList[i].artist }}</strong>
        </td>
        <td class="text-center align-middle">
          <a [href]="getSpotifyLink(folderEntry.spotifyURI)" target="_blank" class="btn btn-olive">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
              <path
                d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"
              />
            </svg>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="1" [(page)]="page" [pageSize]="pageSize"> </ngb-pagination>
  </div>
</div>
