<div class="container">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <a>
          <img [src]="imageURL" style="width: 300px; height: 300px; margin: 5px; border-radius: 10%" class="me-3" />
        </a>
      </div>
      <div class="col-auto d-flex flex-column position-relative">
        <h2>{{ folderName | slice: 0:18 }}</h2>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-hover mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center align-middle table-text green">#</th>
        <th scope="col" class="text-center align-middle table-text green">Name</th>
        <th scope="col" class="text-center align-middle table-text green">Artist</th>
        <th scope="col" class="text-center align-middle table-text green">Listen</th>
        <th scope="col" class="text-center align-middle table-text green">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let folderEntry of folderEntryList; let i = index"
        (mouseenter)="folderEntry.hovered = true"
        (mouseleave)="folderEntry.hovered = false"
      >
        <th scope="row" class="text-center align-middle" style="color: #666666">{{ i + 1 }}</th>
        <td>
          <div class="d-flex align-items-center">
            <a [routerLink]="['/rating', folderEntry.spotifyURI]">
              <img [src]="entryInfoList[i].imageURL" style="width: 90px; margin: 2px; border-radius: 7%" class="me-3" />
            </a>
            <div class="flex-grow-1">
              <a [routerLink]="['/rating', folderEntry.spotifyURI]" class="text-left d-block">
                <strong>{{ entryInfoList[i].entryName }}</strong>
                <strong *ngIf="isAlbum(folderEntry.spotifyURI)"> (Album)</strong>
                <div *ngIf="folderEntry.hovered">Entry Date: {{ folderEntry.addTime | slice: 0:10 }}</div>
              </a>
            </div>
          </div>
        </td>

        <td class="text-center align-middle">
          <strong style="color: #666666">{{ entryInfoList[i].artist }}</strong>
        </td>
        <td class="text-center align-middle">
          <a [href]="getSpotifyURL(folderEntry.spotifyURI)" target="_blank">
            <fa-icon [icon]="faPlayCircle" style="font-size: 2.5em; color: #447848; background-color: #ffffff00 !important"></fa-icon>
          </a>
        </td>
        <td class="text-center align-middle btndelete">
          <button aria-label="Delete folder entry" class="btn" (click)="deleteFolderEntry(folderEntry.spotifyURI)" style="border: none">
            <fa-icon [icon]="faTrash" style="font-size: 2em; margin: 0; padding: 0; color: #a70000; border: none"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
